<div class="jumbotron text-center">
    <h1>MEAN STACK</h1>
    <p>This is my first complete MEAN stack project.</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']"> Register</a>
        <a class="btn btn-primary" [routerLink]="['/login']"> Login</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express Back-End</h3>
        <p>
            I have used Node.js | Express.js for backend.<br>Express.js, or simply Express, is a back end web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications
            and APIs.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Angular Front-End</h3>
        <p>
            I have used Angular for frontend.<br>Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.
        </p>
    </div>
    <div class="col-md-4">
        <h3>MongoDB Database</h3>
        <p>
            I have used Mongoose for database.<br>MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.
        </p>
    </div>
</div>